{% extends "course_programme.html" %} {% load static %} {% block content %}
<div class="aboutcontainer">
  <section id="aboutbody">
    <h1>Improve Your Skills</h1>
    <p>
      Welcome to codetrain e-learning! We are passionate about helping<br />
      individuals achieve their personal and professional goals through<br />
      online education. Our mission is to provide accessible and affordable
      <br />
      e-learning courses to everyone, regardless of their location or<br />
      background.
    </p>
    <p>
      We offer a wide range of e-learning courses, from professional development
      to personal interest subjects. All of our courses are designed to be
      engaging, interactive, and easy to follow. Our expert instructors are
      committed to providing high-quality content that is both informative and
      relevant.
    </p>
    <p>
      Our team is made up of experienced educators, instructional designers, and
      technology experts. We are passionate about online education and committed
      to providing the best possible learning experience for our students.
    </p>
  </section>
</div>

<section id="about-courses" class="section-p1">
  <h1>Course List</h1>
  <div id="course-list">
    <div class="course-col">
      <p>Graphic Design</p>
      <p>Graphic Design</p>
      <p>Graphic Design</p>
    </div>
    <div class="course-col">
      <p>Graphic Design</p>
      <p>Graphic Design</p>
      <p>Graphic Design</p>
    </div>
    <div class="course-col">
      <p>Graphic Design</p>
      <p>Graphic Design</p>
      <p>Graphic Design</p>
    </div>
    <div class="course-col">
      <p>Graphic Design</p>
      <p>Graphic Design</p>
      <p>Graphic Design</p>
    </div>
  </div>
</section>

<section id="feature" class="section-p1">
  <div class="fe-box">
    <img src="{% static 'img/features/f1.png' %}" alt="free-shipping" />
    <h6>Pay Online</h6>
  </div>
  <div class="fe-box">
    <img src="{% static 'img/features/f4.png' %}" alt="free-shipping" />
    <h6>Disounts</h6>
  </div>
  <div class="fe-box">
    <img src="{% static 'img/features/f6.png' %}" alt="free-shipping" />
    <h6>F24/7 Support</h6>
  </div>
  <div class="fe-box">
    <img src="{% static 'img/features/f5.png' %}" alt="free-shipping" />
    <h6>Team Work</h6>
  </div>
</section>
{% endblock %}
