{% extends "course_programme.html" %} {% load static %} {% block content %}
<section id="course1" class="section-p1">
  <div class="d-flex flex-column flex-md-row mt-3 gap-2 justify-content-between align-items-center">
    {% if courses %}
    {% for course in courses %}
    <a href="{% url 'resource-page' course.id %}" class="course-link">
    <div class="pro">
        {% if course.course_image %}
        <img src="{{course.course_image.url}}" alt="product 1" />
        {% else %}
        <img src="{% static 'img/img01.jpg' %}" alt="product 1" />
        {% endif %}
      <div class="des">
        <h5 class="text-center">{{course.title}}</h5>
      </div>
    </div>
    </a>
    {% endfor %}
    {% endif %}
  </div>
</section>

{% endblock %}
