{% extends "course_programme.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row intro text-center">
    <h3>{{course.heading}}</h3>
    <p style="color: white">Version 1.0.0. {{course.version}}</p>
    <p style="color: white">{{course.tutor}}</p>
  </div>
</div>
<div class="container-fluid" style="margin-top: 40px">
  <div class="row mx-auto">
    <div class="col-md-4">
      <h3 class="fw-bold">Description</h3>
      <p>{{course.description}}</p>
    </div>
    <div class="col-md-4">
      <h3 class="fw-bold">This course includes:</h3>
      <ul>
        {% for item in curriculum_list %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="fw-bold">Requirements</h3>
      <ul>
        {% for item in requirement_list %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div>
  <div class="container-fluid py-3 mx-auto d-compiler">
    {{course.compiler | safe }}
  </div>
</div>
{% if not course.course_completed %}
<form method="post">
  {% csrf_token %}
  <button class="float-end" type="submit">Click to  complete course</button>
</form>
{% endif %}
{% endblock %}