<h3 class="fw-bold text-center">RESOURCES</h3>
<form class="d-flex flex-row" action="{% url 'programme-page' course.id %}" method="GET">
    <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
{% include 'course_page/resource_pages/pdf.html' %}
<br>
{% include 'course_page/resource_pages/image.html' %}
<br>
{% include 'course_page/resource_pages/audio.html' %}
<br>
{% include 'course_page/resource_pages/video.html' %}
<br>
{% include 'course_page/resource_pages/youtube_link.html' %}